<h2>Soal 1: Hello World to Python</h2>
    
Print Say Hello World to Python

In [1]:
print('Hello World Python')

Hello World Python

Expected Output : 

Hello World Python

<h2>Soal 2: Aritmatika di Python </h2>
    
- Buat statement pertambahan antara 2 number di Python
- Buat statement perkurangan antara 2 number di Python
- Buat statement perkalian antara 2 number di Python
- Buat statement pembagian antara 2 number di Python

In [6]:
a = 15
b = 20
c = a+b
d = a-b
e = a*b
f = a/b

print('Bilangan pertama adalah',a)
print('Bilangan kedua adalah',b)
print(a,'+',b,'=',c)
print(a,'-',b,'=',d)
print(a,'*',b,'=',e)
print(a,'/',b,'=',f)

Bilangan pertama adalah 15
Bilangan kedua adalah 20
15 + 20 = 35
15 - 20 = -5
15 * 20 = 300
15 / 20 = 0.75

<h2>Quiz 3: Assign Variable dan Tipe Data Integer, Float </h2>

- Buat suatu variabel a dan b, dimana a dan b adalah nilai bertipe data numeric
- Berikan suatu nilai bertipe data integer, hasil pembagian dari a dengan b
- Berikan suatu nilai bertipe data float, hasil pembagian dari a dengan b

In [20]:
a = 30
b = 22
c = a//b
d = a%b
e = a/b

print('hasil bagi antara',a,'dengan',b,'adalah',c,'sisa',d,' keduanya bilangan tersebut bertipe',type(c))
print('sedangkan hasil bagi lebih tepatnya adalah',e,'dan bertipe',type(e))

hasil bagi antara 30 dengan 22 adalah 1 sisa 8  keduanya bilangan tersebut bertipe <class 'int'>
sedangkan hasil bagi lebih tepatnya adalah 1.3636363636363635 dan bertipe <class 'float'>

<h2>Soal 4: String Operation </h2>

- masukan nama depan kamu kedalam suatu variable firstname
- masukan nama belakang kamu kedalam suatu variable lasname
- tampilkan suatu kalimat 'Hello sanbercode, saya firstname lastname! saya siap belajar python data science.'

In [14]:
firstname = 'Rhadityo'
lastname = 'Arbarim'

print('Hello sanbercode, saya', firstname, lastname,'! saya siap belajar python data science')

Hello sanbercode, saya Rhadityo Arbarim ! saya siap belajar python data science

Expected Output :

Hello sanbercode, saya fauzan taufik! saya siap belajar python data science.

<h2>Soal 5: Tipe Data</h2>

Lengkapi code di bawah ini untuk menghasilkan output yang sesuai

In [17]:
p = 9.99999
q = 'the number: '

print(q,p)

the number:  9.99999

Expected Output :

the number: 9.99999